.jumbotron {
    padding: 10px 10px 0 10px;
    background-color: blue;
    color: aliceblue;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: blue;
    color: aliceblue;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.btn-reserva {
    width: 100%;
}

.breadcrumb {
    color: black;
}

.footer-adress-icon {
    padding-right: 10px;
}

.main-form {
    width: 1000px;
    margin: auto;
}